<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
  <title>Blog</title>
  <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css" href="blog_css.css">
  
  <script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	
  
</head>

<body>
     <div >
     <a href="https://www.yahoo.co.jp/">主页</a> 
     <a href="https://www.yahoo.co.jp/">文章</a> 
     <a href="https://www.yahoo.co.jp/">相册</a> 
     <a href="https://www.yahoo.co.jp/">留言板</a> 
     <a href="https://www.yahoo.co.jp/">打赏</a> 
     <a href="Wblog.html">Wang's Blog</a> 
     <a href="Wblog.html">Liu's Blog</a>
  </div>
     
     <header >
     
     <h3 id="blogHead">My Blog</h3>
     <hr>
     
     </header>

   <div>
     <br>
     <h1>ZH's&ensp;&ensp;BOLG</h1>
	 <br>
     <p id="sub-title">JAVA学习经验总结</p>
     <br>
     </div>

</body>

</html>