<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<title>Blog Editor</title>
	<link rel="stylesheet" type="text/css" href="blog_css.css">
	
</head>

<body>
<div>

		<h1>
		<br>
		Blog Editor
		<br>
		<br>
		<br></h1>
		
	<form action="/Blog_zheng" method="post">
		<laber class="char" >标题&ensp;&ensp;&ensp;&ensp;</laber>
		<textarea id="thema" class="text" rows="1" cols="100" maxlength="30" placeholder="请填写标题";></textarea>
		<br>
		<laber class="char">内容简介</laber>
		<textarea id="intro" class="text" rows="1" cols="100" maxlength="50" placeholder="请填写内容简介";></textarea>
	    <br>
		<laber class="char">编辑内容</laber>
		<textarea id="mainText" class="text" rows="10" cols="100"></textarea>
		<br>
		<laber  class="char">上传图片</laber>
		<input type="submit" value="Image File" id="submit_button" class="image" style="font-size: 18px;">

	</form>
	</div>
</body>

</html>