<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<title>Blog Editor</title>
	<link rel="stylesheet" type="text/css" th:href="@{/BlogEditor_zheng_css.css}">

</head>

<body>
	<div class="Editor_box">

		<h1>Blog Update</h1>
		<form action="/update" method="post">

			<input type="hidden" name="username" th:value="${username}">
			<input type="hidden" name="blogId" th:value="${blogId}">

			<div class="input_box">

				<table style="margin:auto">
					<tr>
						<td>
							<laber class="char" for="title">标题</laber>
						</td>
						<td><textarea class="input_text" name="title" rows="1" cols="100" maxlength="30"
								placeholder="请填写标题"></textarea>
						</td>
					</tr>
			</div>

			<div class="input_box">
				<tr>
					<td>
						<laber class="char" for="introduction">内容简介</laber>
					</td>
					<td><textarea class="input_text" name="introduction" rows="1" cols="100" maxlength="50"
							placeholder="请填写内容简介" ;></textarea>
					</td>
				</tr>
			</div>

			<div class="input_box">
				<tr>
					<td>
						<laber class="char" for="contents">编辑内容</laber>
					</td>
					<td><textarea class="input_text" name="contents" rows="10" cols="100"></textarea></td>
				</tr>
			</div>


			<tr>
				<td>
					<laber class="char" for="image">上传图片</laber>
				</td>
				<td><a href="javascript:;" class="file">选择文件<input type="file"></a></td>
			</tr>

			</table>

			<input type="submit" id="submit_botton" value="Submit">
		</form>
	</div>
</body>

</html>