<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="login_css.css">

</head>

<body>
<div>
<h1>Login</h1>
<br>
   <hr>
   <br>

<form action="/Blog_zheng" method="post">
    <laber for ="Username" class="desc">UserName:</laber>
    <input type="text" id="username" class="text_input" name="username" placeholder="Enter UserName";>
    <br>
	<br>
    <laber for ="password" class="desc">Password:</laber>
    <input type="password" class="text_input" name="password" placeholder="Enter Password";>
	<br>
    <br>
    <input type="submit" value="Login" id="submit_button" style="font-size: 18px;">
    <imput type ="password",name="password">
</form>
</div>
</body>
</html>