<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="../static/Register_css.css">
	<link rel="stylesheet" type="text/css" media="screen"
		href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
	<div class="register_box">

		<h1>Register</h1>
		<p id="head_text">Please fill in this form to create an account</p>

		<hr>

		<form action="/Login_zheng" method="post">
			<div class="input_box">
				<i class="icon ion-email"></i>
				<input type=email" class="text_input" placeholder="Enter Email" ">
			</div>
			<div class=" input_box">
				<i class="icon ion-ios-locked"></i>
				<input type="password" class="text_input" placeholder="Enter Password" ">
			</div>
			<div class=" input_box">
				<i class="icon ion-ios-locked"></i>
				<input type="password" class="text_input" placeholder="Repeat Password" ">
			</div>
			<hr>
			<p>By creating an account you agree to our
				<a href=" https://www.google.com/">Tarms&Privacy</a>
				</p>
				<a href="Blog_zheng.html">
					<input type="submit" id="register_bottom" value="Register" ">
				<a>
		</form>

		<footer>
			<p>Already have an account?
				<a href=" Login_zheng.html">Sign in.</a>
				</p>
				</footer>

			</div>

</body>

</html>