<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" th:href="@{/Register_css.css}">
	<link rel="stylesheet" type="text/css" media="screen"
		href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
	<div class="register_box">

		<h1>Register</h1>
		<p id="head_text">Please fill in this form to create an account</p>

		<hr>

		<form action="/register" method="post">

			<div class="input_box">
				<i class="icon ion-person"></i>
				<input type="text" name="username" class="text_input" placeholder="Enter UserName">
			</div>

			<div class="input_box">
				<i class="icon ion-ios-locked"></i>
				<input type="password" name="password" class="text_input" placeholder="Enter Password"></input>
			</div>

			<div class=" input_box">
				<i class="icon ion-ios-locked"></i>
				<input type="password" name="password_again" class="text_input" placeholder="Repeat Password"></input>
			</div>

			<hr>
			<p>By creating an account you agree to our
				<a href=" https://www.google.com/">Tarms&Privacy</a>
			</p>
			<input type="submit" id="register_bottom" value="Register"></input>
		</form>

		<footer>
			<p>Already have an account?
				<a href="/login">Sign in</a>
			</p>
		</footer>

	</div>

</body>

</html>